.container {
	width: 100%;
	padding: 1em;
}

.header {
	transition: all ease-in 1s;
}

.header.dark {
	color: white;
}

.languages {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	margin: 1em;
	margin-bottom: 0;
}

.languageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 70vh;
}

.loading {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainLanguage {
	border: none;
	border-radius: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: bold;
	position: absolute;
	border-radius: 1em;
	width: auto;
}

.project {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 30px;
}

.projectDescription {
	margin-top: .5em;
	height: auto;
	transition: all ease-in 1s;
}

.projectDescription.dark {
	color: white;
}

.projectImage {
	border-radius: 1em;
	width: 90%;
	margin: auto;
	margin-top: 1em;
}

/* PROJECT SUMMARY STYLES */
.projectSummary {
	flex-basis: 30%;
	max-width: 100%;
	min-width: 30%;
	margin-top: 20px;
	border: none;
	border-radius: 1em;
	transition: background-color ease-in 1s;
}

.projectSummary.light {
	box-shadow: 12px 12px 12px 0 #0000003f;
	background-color: #eaeaea;
}

.projectSummary.dark {
	background-color: #282828;
}
/* END PROJECT SUMMARY STYLES */

.projectTitle {
	font-size: 30pt;
	transition: color ease-in 1s;
} 

.projectTitle.dark {
	color: #d8d8d8;
}

/* README STYLES */
.readme {
	padding-left: 1em;
	padding-right: 1em;
	min-width: 60%;
	max-width: 100%;
}

.readme.dark {
	color: white;
}
/* END README STYLES */

/* TABLE STYLES */
.table {
	width: 90%;
	margin: 1em;
	text-align: center;
	transition: all ease-in 1s;
}

.table.light > thead > tr > th,
.table.light > tbody > tr > td {
	transition: all ease-in 1s;
}

.table.dark > thead > tr > th,
.table.dark > tbody > tr > td {
	color: #ffffff;
	transition: all ease-in 1s;
}
/* END TABLE STYLES */

@media (max-height: 420px) and (max-width: 768px) {
	.languageContainer {
		display: none;
	}
}

@media (min-width: 576px) {
	.projectDescription {
		height: 3em;
	}

	.projectTitle {
		font-size: 18pt;
	}
}

@media (min-width: 768px) {
	.readme {
		flex-basis: 50%;
		min-width: 50%;
	}

	.languageContainer {
		flex-basis: 50%;
		max-width: 100%;
		justify-content: start;
	}

	.languageContainer > .languages {
		max-width: 80%;
		height: auto;
	}

	.project {
		align-items: stretch;
		justify-content: baseline;
	}

	.projectDescription {
		height: 2em;
	}

	.projectTitle {
		font-size: 26pt;
	}
}
