.navbar {
	transition: all 1s ease-in;
}

.navbar.dark {
	background-color: #252525;
}

.navbar.light {
	background-color: #f8f9fa;
}

.nightModeNav {
	display: flex;
	justify-content: center;
	width: 100%;
}

.pageLink {
	margin-left: 1em;
	padding: .5rem 1rem;
}

.pageLink.dark {
	color: #ffffff !important;
}