.container {
	min-height: 100vh;
	overflow: hidden;
}

.container.light {
	transition: all 1s ease-in;
	background-color: #f8f9fa;
}

.container.dark {
	transition: all 1s ease-in;
	background-color: #121212;
}